<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garlini.gastosgames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.garlini.gastosgames.view.GastosSearchResultActivity" />
        </activity>
        <activity
            android:name=".view.PlataformaFormActivity"
            android:label="@string/title_activity_plataforma_form" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.CategoriaFormActivity"
            android:label="@string/title_activity_categoria_form" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.GastoFormActivity"
            android:label="@string/title_activity_gasto_form" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.GastosSearchResultActivity"
            android:label="@string/title_activity_gastos_search_result" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.GraficoComparativoPlataformasActivity"
            android:label="@string/title_activity_grafico_comparativo_plataformas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.FiltroActivity"
            android:label="@string/title_activity_filtro" >
        </activity>
        <activity
            android:name=".view.GraficoComparativoCategoriasActivity"
            android:label="@string/title_activity_grafico_comparativo_categorias" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.GraficoComparativoPlataformasCategoriasActivity"
            android:label="@string/title_activity_grafico_comparativo_plataformas_categorias"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.RelatorioGastosActivity"
            android:label="@string/title_activity_relatorio_gastos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.RelatorioGastosSinteticoActivity"
            android:label="@string/title_activity_relatorio_gastos_sintetico" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".view.RelatorioGastosSinteticoMensalActivity"
            android:label="@string/title_activity_relatorio_gastos_sintetico_mensal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.garlini.gastosgames.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
